/* General */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    color: #333;
    background-color: #f4f4f4;
}

/* Header */
header {
    background: #4CAF50;
    color: white;
    padding: 2rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
}

/* Section Styles */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;
}

section {
    margin: 2rem 0;
    padding: 1.5rem;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #4CAF50;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 0.5rem;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: white;
}

footer p {
    margin: 0;
}
.foto {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;    /* Centra verticalmente */
    height: 100%;           /* Asegúrate de que el contenedor tenga altura */
}
